<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #85c3f0"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Booking System</a>
    <div class="d-flex">
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0"
        *ngIf="!isLoggedIn; else loggedIn"
      >
        <li class="nav-item ml-5">
          <a class="nav-btn" routerLink="/login">
            <mat-icon>login</mat-icon>
            <p class="mat-h6 m-0 p-0">Login</p>
          </a>
        </li>

        <li class="nav-item ml-5">
          <a class="nav-btn" routerLink="/register">
            <mat-icon>person_add_alt_1</mat-icon>
            <p class="mat-h6 m-0 p-0">Register</p>
          </a>
        </li>
      </ul>

      <ng-template #loggedIn>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ml-5" *ngIf="role == 1">
            <a role="button" [routerLink]="['/profile']" class="nav-btn">
              <mat-icon>mood</mat-icon>
              <p class="mat-h6 m-0 p-0">Profile</p>
            </a>
          </li>

          <li class="nav-item ml-5" *ngIf="role == 2">
            <a role="button" [routerLink]="['/admin']" class="nav-btn">
              <mat-icon>dashboard</mat-icon>
              <p class="mat-h6 m-0 p-0">Dashboard</p>
            </a>
          </li>

          <li class="nav-item ml-5">
            <a role="button" (click)="onLogoutBtn()" class="nav-btn">
              <mat-icon>exit_to_app</mat-icon>
              <p class="mat-h6 m-0 p-0" translate>Logout</p>
            </a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
