<div class="row m-3">
  <div class="col-12">
    <h1 class="mat-h1 m-0 p-0">Profile Details</h1>
    <hr />
  </div>
  <div class="col-12 my-3">
    <div class="row py-3">
      <div class="col-4">Username</div>
      <div class="col">{{ userData?.username | lowercase }}</div>
    </div>
    <div class="row py-3">
      <div class="col-4">Mobile</div>
      <div class="col">{{ userData?.phone }}</div>
    </div>
    <div class="row py-3">
      <div class="col-4">First Name</div>
      <div class="col">{{ userData?.firstname | titlecase }}</div>
    </div>
    <div class="row py-3">
      <div class="col-4">Last Name</div>
      <div class="col">{{ userData?.lastname | titlecase }}</div>
    </div>
    <div class="row py-3">
      <div class="col-4">Email</div>
      <div class="col">{{ userData?.email | lowercase }}</div>
    </div>
  </div>
  <div class="col-12">
    <button
      mat-stroked-button
      style="background-color: rgba(197, 0, 0, 0.857); color: white"
      type="submit"
      (click)="onDelete()"
    >
      Deactivate account
    </button>
  </div>
</div>
