<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mat-h2 m-0 p-0 font-weight-bold">Account</h2>
      <h4 class="mat-h4 mat-small m-0 p-0">
        {{ username | lowercase }}
      </h4>
      <hr class="mt-2 mb-4" style="height: 2px" />
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <app-side-nav></app-side-nav>
        </div>
        <div class="col">
          <div class="divider"></div>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-12 my-2 only-card">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
