<app-print-ticket
  [movieData]="{
    seat: selectedSeats.join(', '),
    title: movie.title,
    tagline: movie.tagline
  }"
  *ngIf="isTicketBooked; else bookTicket"
></app-print-ticket>

<ng-template #bookTicket>
  <div class="row" *ngIf="showView">
    <div class="col-12 mb-5">
      <div class="card">
        <div
          class="background"
          [style.background-image]="'url(' + imageUrl + movie.poster_path + ')'"
        ></div>
        <div class="card-header">
          <h1>{{ movie.title | titlecase }}</h1>
          <h3>{{ movie.tagline }}</h3>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>
              {{ movie.overview }}
            </p>
            <footer class="blockquote-footer">
              {{ movie.Released }} on
              <cite title="Source Title">{{
                movie.release_date | date: "dd MMM, yyyy"
              }}</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="col-12 mb-5">
      <div class="card text-center">
        <div class="card-header">Select your seat</div>
        <div class="card-body">
          <h5 class="card-title">Screen this side</h5>
          <div class="card-text">
            <ng-container *ngFor="let col of seatColumn">
              <ng-container *ngFor="let row of seatRow">
                <button
                  mat-ripple
                  class="seat-button"
                  (click)="selectSeat(col, row)"
                  [ngClass]="{ selected: checkSelectedSeat(col + row) }"
                >
                  <p>
                    <mat-icon>event_seat</mat-icon><br />
                    {{ col }}{{ row }}
                  </p>
                </button>
              </ng-container>
              <hr />
              <br />
            </ng-container>
          </div>
        </div>
        <div class="card-footer">
          <button
            role="button"
            mat-raised-button
            [disabled]="selectedSeats.length == 0"
            color="primary"
            class="w-100"
            (click)="bookSeat()"
          >
            <mat-icon>add_box</mat-icon>
            <h3 class="mat-h6 m-0 p-0">Book Now</h3>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
